*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Merriweather', serif;
}
.container{
    display:grid;
    grid-template-rows:220px auto 110px;
    grid-template-columns:200px auto 200px;
    grid-gap:2rem;
}

header{
    padding:32px;
    background-color:black;
    background-image:url("../../images/header3.jpg");
    background-image:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8)),url("../../images/header5.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:space-between;
    align-items:top;
    grid-column:1 / 4;
    grid-row:1 / 2;
}

.nav-items{
    display:flex;
    flex-direction:row;
    list-style:none;
}

.nav-items a{
    color:black;
    text-decoration:none;
    font-size:1.2rem;
    text-transform:uppercase;
    margin-right:2rem;
}

.nav-items a:hover{
    color:rgba(0,0,0,0.7);
    border-bottom:2px rgba(0,0,0,0.7) solid;
}

.brand a{
    color:black;
    text-decoration:none;
    font-weight:bold;
    font-size:2rem;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}

.brand a::before{
    content:"";
}
.brand a::after{
    content:"";
}

.brand a:hover{
    color:rgba(0,0,0,0.7);
}

section{
    grid-row:2 / 3;
    grid-column:2 / 3;
    background-color:white;
}

.main-section{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:50px 200px;
    grid-gap:1rem;
}

fieldset{
    padding:2rem;
}

.main-section-heading{
    grid-row:1 / 2;
    grid-column:1 / 3;
    text-align:center;
}

.medicine-search-form{
    grid-row:2 / 3;
    grid-column:1 / 3;
}

.input-elements{
    display:grid;
    grid-template-rows:50% 50%;
    grid-gap:2rem;
}

input[type="text"]{
    padding:0.8rem;
    border:none;
    border-bottom:1px black solid;
    font-size:1rem;
}

input[type="submit"]{
    width:150px;
    padding:0.8rem;
}

input[type="submit"]:hover{
    border:1px solid black;
}

input[type="type"]:hover{
    box-shadow:8px 8px 5px #aaaaaa;
}

input[type="text"]:focus,input[type="submit"]{
    outline:none;
}

footer{
    grid-column:1 / 4;
    grid-row:3 / 4;
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
footer div{
    color:white;
    text-align: center;
}
